@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap");
.navbar-brand {
  font-family: "Montesserat", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
.active {
  background-color: #225470;
  color: #fff;
}
